.SAED-navbar {
    background-color: RGB(236, 236, 236);
    /* Otros estilos personalizados */
  }

.navbar-text {
    color: white;
}


ul {
    margin:0;
    padding:0
}

ul li a:hover{
    cursor:pointer
}

.side-bar-text {
    color:white
}

.side-bar-icon {
    color: RGB(34, 98, 143)
}



.li-sidebar{
    margin-top: 20;
    margin-bottom: 20;
}